<!-- <div class="h1"><h1>ADD BRANCH</h1></div> -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">Add Branches</h1>
          </div>
        </div>
    </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/img/6.jpg" alt="Card image cap">
  <div class="card-body">
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Course</label>
      <select class="form-control" id="exampleFormControlInput1">
      <option disabled selected>Select Option</option> 
      <option>BCA</option>
      <option>BCOM</option>
      <option>LLB</option>
      <option>MCA</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Branch</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" >
      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>