
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">View labfileL</h1>
          </div>
          </div>
        </div>
</div>


<div class="row">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">BTECH</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View labfiles</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">B.Sc</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View Labfiles</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">M.Sc</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View labfiles</a>
    </div>
  </div>
</div>
</div>
<BR>
<BR>
<div class="row">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Pharmacy</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View labfiles</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">LLB</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View labfiles</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MTECH</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View labfiles</a>
    </div>
  </div>
</div>
</div> 
