
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">View Branches</h1>
          </div>
          </div>
        </div>
</div>



<div class="row">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CSE</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ME</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ECE</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
</div>
<BR>
<BR>
<div class="row">
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">IT</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">EC</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">EEE</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
</div> 
